<div class="container">
    <h3 class="text-center mt-4">Pages Lists</h3>
    <div class="row mx-2">
        @for (item of testPageList; track $index) {
            <app-card [cardInfo]="item" class="col-3"></app-card>
        }
    </div>
    <h3 class="text-center mt-4">Component Lists</h3>
    <div class="row mx-2">
        @for (item of testCardList; track $index) {
            <app-card [cardInfo]="item" class="col-3"></app-card>
        }
    </div>
</div>
<div class="container mt-4">
    <router-outlet></router-outlet>
</div>