  <!-- content -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" [href]="currentPic">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" [src]="currentPic" />
            </a>
          </div>
          <div class="d-flex justify-content-center mb-3">
            @for (item of productDetail.thumbnails; track $index) {
                <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" [href]="item" class="item-thumb" (click)="handleClick(item, $event)" >
                    <img width="60" height="60" class="rounded-2" [src]="item"/>
                </a>
            }
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{ this.productInfo.name }} <br />
              {{ this.productInfo.type }}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                  {{ productDetail.ratings }}
                </span>
              </div>
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{ productDetail.order }} orders</span>
              <span class="text-success ms-2">In stock</span>
            </div>
  
            <div class="mb-3">
              <span class="h4 text-danger">${{ this.productInfo.basePrice }}</span>
            </div>
  
            <p>
              {{ this.productInfo.description }}
            </p>
  
            <div class="row">
              <dt class="col-3 text-danger">Type:</dt>
              <dd class="col-9">{{ productDetail.type }}</dd>
  
              <dt class="col-3">Color</dt>
              <dd class="col-9">{{ productDetail.color }}</dd>
  
              <dt class="col-3">Material</dt>
              <dd class="col-9">{{ productDetail.material }}</dd>
  
              <dt class="col-3">Brand</dt>
              <dd class="col-9">{{ productDetail.brand }}</dd>
            </div>
  
            <hr />
  
            <div class="row mb-4">
              <!-- <div class="col-md-4 col-6">
                <label class="mb-2">Size</label>
                <select class="form-select border border-secondary" style="height: 35px;">
                  <option>Small</option>
                  <option>Medium</option>
                  <option>Large</option>
                </select>
              </div> -->
              <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="container-fluid">
                  @if (this.productInfo?.dimensions.enable == true) {
                    <div formGroupName="dimensionsGroup" class="row my-2">
                      <div class="col">
                        <label for="width">Width:</label>
                        <input id="width" formControlName="width" [placeholder]="this.productInfo.dimensions.starter"/>
                      </div>
                      <div class="col">
                        <label for="height">Height:</label>
                        <input id="height" formControlName="height"/>
                      </div>
                      @if (!this.validDimensions) {
                        <p class="text-danger">Dimensions are not valid. At least 1 side have to be smaller or equal to 8ft.</p>
                      }
                      <div class="row"></div>
                    </div>
                  } @else {
                    <div class="col">
                      Final Dimensions {{ this.productInfo.dimensions.finalDimensions.width }}
                    </div>
                  }
                  <div class="row my-2">
                    @if (this.productInfo.materialType) {
                      <div class="col">
                        <label for="material">Material Type:</label>
                        <select class="form-select border border-secondary" id="material" formControlName="material" style="height: 35px;">
                          <option value="" disabled>Select an option for material</option>
                          @for (item of this.materialOptions; track $index) {
                            <option [value]="item">{{ item }}</option>
                          }
                        </select>
                      </div>
                    }
                    <div class="col">
                      @if (this.productInfo.finishingOptions) {
                        <label for="finishingOption">Finishing Options:</label>
                        <select class="form-select border border-secondary" id="finishingOption" formControlName="finishingOption" style="height: 35px;">
                          <option value="" disabled>Select an option for finishing</option>
                          @for (item of this.productInfo.finishingOptions; track $index) {
                            <option [value]="item">{{ item }}</option>
                          }
                        </select>
                      } @else if (this.productInfo.finishingOptions.length == 1) {
                        <label for="finishingOption">Finishing Options:</label>
                        <p>{{this.productInfo.finishingOptions[0]}}</p>
                      }
                      @if (this.productInfo.dimensions.isSlit) {
                        <input type="checkbox" id="isSlit" formControlName="isSlit"/>
                        Add Slit on top pole pocket
                      }
                    </div>
                  </div>
                  <div class="row my-2">
                    <div class="col">
                      <label for="specialInstructions">Special Instructions</label>
                      <input type="text" formControlName="specialInstructions" id="specialInstructions"/>
                    </div>
                    <div class="col">
                      <label for="specialInstructions">Quantity</label>
                      <input type="number" formControlName="quantity" id="quantity"/>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary shadow-0">Add to Cart</button>
                </div>
              </form>
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-1" style="width: 170px;">
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark" (click)="adjustQuantity(false)" >
                    <i class="fas fa-minus"></i>
                  </button>
                  <!-- <input type="number"  class="form-control text-center border border-secondary" [placeholder]="currentQuantity()" [(ngModel)]="quantity" name="quantity" aria-label="Example text with button addon" aria-describedby="button-addon1" [value]="currentQuantity()"/> -->
                  <input type="text"  class="form-control text-center border border-secondary" [(ngModel)]="quantity" name="quantity" (ngModelChange)="updateValue($event)" aria-label="Example text with button addon" aria-describedby="button-addon1"/>
                  <!-- (input)="updateCurrentQuatity2($event.target.value) -->
                  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark" (click)="adjustQuantity(true)">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                @if (!this.validQuantity()){
                  <p class="position-absolute">Can't do that dumbass..</p>
                }
              </div>
            </div>
            <a href="#" class="btn btn-warning shadow-0"> Buy now </a>
            <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
            <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->