<header>
    <!-- Jumbotron -->
    <app-header></app-header>
    <!-- Jumbotron -->
  
    <!-- Heading -->
    <app-breadcrumb></app-breadcrumb>
    <!-- Heading -->
  </header>
  
  <!-- content -->
  <app-product-detail-section [productDetail]="testDetail" ></app-product-detail-section>
  <!-- content -->
  
  <section class="bg-light border-top py-4">
    <div class="container-fluid">
      <div class="row gx-4">
        <div class="col-lg-8 mb-4">
          <app-product-specification></app-product-specification>
        </div>
        <div class="col-lg-4">
          <app-product-recommendation-section [productRecDetails]="recommendedProduct" ></app-product-recommendation-section>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- Footer -->
  